DATABUTTON_PROJECT_ID=your_project_id
DATABUTTON_CUSTOM_DOMAIN=
DATABUTTON_EXTENSIONS=[{"name":"shadcn","version":"1"},{"name":"firebase-auth","version":"1","config":{"firebaseConfig":{"apiKey":"YOUR_API_KEY","authDomain":"YOUR_AUTH_DOMAIN","projectId":"YOUR_PROJECT_ID","storageBucket":"YOUR_STORAGE_BUCKET","messagingSenderId":"YOUR_MESSAGING_SENDER_ID","appId":"YOUR_APP_ID"},"signInOptions":{"google":true,"email":true,"facebook":false,"twitter":false,"emailAndPassword":false,"magicLink":false},"siteName":"MoneyGate","signInSuccessUrl":"/","tosLink":"/terms-of-service","privacyPolicyLink":"/privacy-policy"}}]
# API keys and sensitive information should be set in Netlify UI
# Do not commit sensitive keys to version control
